<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cart-mapper">

<resultMap type="Product" id="productResultSet">
		<id property="p_NO" column="P_NO"/>
		<result property="p_Name" column="P_NAME"/>
		<result property="p_Price" column="P_PRICE"/>
		<result property="p_Sail_Price" column="P_SAIL_PRICE"/>
		<result property="p_Last_Price" column="P_LAST_PRICE"/>
		<result property="p_Bcategory" column="P_BCATEGORY"/>
		<result property="p_Scategory" column="P_SCATEGORY"/>
		<result property="p_Comment" column="P_COMMENT"/>
		<result property="p_Order_Count" column="P_ORDER_COUNT"/>
		<result property="p_Status" column="P_STATUS"/>
		<result property="p_Writer" column="P_WRITER"/>
		<result property="p_Insert_Date" column="P_INSERT_DATE"/>
		<result property="p_Modify_Id" column="P_MODIFY_ID"/>
		<result property="p_Modify_Date" column="P_MODIFY_DATE"/>
		<result property="p_Show_YN" column="P_SHOW_YN"/>
		<result property="p_Brand_NO" column="P_BRAND_NO"/>
		<collection property="pfList" resultMap="ProductFileResultSet"/>
</resultMap>

<!-- 상품 이미지 등록정보 -->
	<resultMap type="Product_File" id="ProductFileResultSet">
		<id property="pf_NO" column="PF_NO"/>
		
		<result property="pf_Img1" column="PF_IMG1"/>
		<result property="pf_Img1_ReName" column="PF_IMG1_RENAME"/>
		<result property="pf_Img2" column="PF_IMG2"/>
		<result property="pf_Img2_ReName" column="PF_IMG2_RENAME"/>
		<result property="pf_Img3" column="PF_IMG3"/>
		<result property="pf_Img3_ReName" column="PF_IMG3_RENAME"/>
		<result property="pf_Img4" column="PF_IMG4"/>		
		<result property="pf_Img4_ReName" column="PF_IMG4_RENAME"/>
		<result property="pf_Img5" column="PF_IMG5"/>
		<result property="pf_Img5_ReName" column="PF_IMG5_RENAME"/>
		<result property="pf_Img6" column="PF_IMG6"/>
		<result property="pf_Img6_ReName" column="PF_IMG6_RENAME"/>
		<result property="pf_Dimg1" column="PF_DIMG1"/>
		<result property="pf_Dimg1_ReName" column="PF_DIMG1_RENAME"/>
		<result property="pf_Dimg2" column="PF_DIMG2"/>			
		<result property="pf_Dimg2_ReName" column="PF_DIMG2_RENAME"/>
		<result property="pf_Dimg3" column="PF_DIMG3"/>	
		<result property="pf_Dimg3_ReName" column="PF_DIMG3_RENAME"/>
		<result property="pf_P_NO" column="PF_P_NO"/>	
		
	</resultMap>
	
	<resultMap type="Cart" id="CartResultSet">
	
		<id property="ct_P_NO" column="CT_NO"/>
		
		<result property="ct_Option_1" column="CT_OPTION_1"/>
		<result property="ct_Option_2" column="CT_OPTION_2"/>
		<result property="ct_Amount" column="CT_AMOUNT"/>
		<result property="ct_Mno" column="CT_MNO"/>
		<result property="ct_P_NO" column="CT_P_NO"/>
	
		<collection property="productList" resultMap="productResultSet"/>
		<collection property="p_File" resultMap="ProductFileResultSet"/>
	</resultMap>
	
	<insert id="cInsert" parameterType="Cart">
		INSERT INTO CART
		VALUES(SEQ_CT_NO.NEXTVAL,#{ct_Option_1},#{ct_Option_2},#{ct_Amount},#{ct_Mno},#{ct_P_NO})	
	</insert>
	
	
	
	
	
	
	
</mapper>