<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnA-mapper">

	<resultMap type="QnA" id="qnaResultSet">
	
		<id property="q_No" column="Q_NO"/>
		
		<result property="q_Writer" column="Q_WRITER"/>
		<result property="q_Title" column="Q_TITLE"/>
		<result property="q_Content" column="Q_CONTENT"/>
		<result property="q_Date" column="Q_DATE"/>
		<result property="q_Count" column="Q_COUNT"/>
		<result property="q_Modify_ID" column="Q_MODIFY_ID"/>
		<result property="q_Modify_Date" column="Q_MODIFY_DATE"/>
		<result property="q_Kind" column="Q_KINDS"/>
		<result property="q_Status" column="Q_STATUS"/>
		<result property="q_View_Check" column="Q_VIEW_CHECK"/>
		<result property="q_Img1" column="Q_IMG1"/>
		<result property="q_Img1_ReName" column="Q_IMG1_RENAME"/>
		<result property="q_Img2" column="Q_IMG2"/>
		<result property="q_Img2_ReName" column="Q_IMG2_RENAME"/>
		<result property="q_Mno" column="Q_MNO"/>
		<result property="q_MID" column="MID"/>
		
	</resultMap>
	
	<resultMap type="QnA_Reply" id="qnaReplyResultSet">
	
		<id property="qr_No" column="QR_NO"/>
		
		<result property="qr_Comment" column="QR_COMMENT"/>
		<result property="qr_Qno" column="QR_QNO"/>
		<result property="qr_Date" column="QR_DATE"/>
		<result property="qr_Modify_Check" column="OR_MODIFY_CHECK"/>
		<result property="qr_Modify_Date" column="OR_MODIFY_DATE"/>
		<result property="qr_Status" column="QR_STATUS"/>
		<result property="qr_Mname" column="QR_Mname"/>
			
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM QNA
		WHERE Q_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="qnaResultSet">
		SELECT * 
		FROM QNA
		WHERE Q_STATUS='Y'
		ORDER BY Q_NO DESC
	</select>
	
	<insert id="insertQnA" parameterType="QnA">
		INSERT INTO QNA
		VALUES(
		SEQ_Q_NO.NEXTVAL,
		#{q_Writer},
		#{q_Title},
		#{q_Content},
		SYSDATE,
		DEFAULT,
		#{q_Modify_ID},
		SYSDATE,
		#{q_Kind},
		DEFAULT,
		DEFAULT,
		#{q_Img1},
		#{q_Img1_ReName},
		#{q_Img2},
		#{q_Img2_ReName},
		#{q_Mno})
		
	</insert>
	
	<update id="updateCount" parameterType="_int">
		UPDATE QNA
		SET Q_COUNT = Q_COUNT + 1
		WHERE Q_NO=#{q_No}
	</update>
	
	<select id="selectQnA" resultMap="qnaResultSet">
	SELECT 
			Q.Q_NO
		   ,Q.Q_WRITER
		   ,Q.Q_TITLE
		   ,Q.Q_CONTENT
		   ,Q.Q_DATE
		   ,Q.Q_COUNT
		   ,Q.Q_MODIFY_DATE
		   ,Q.Q_KINDS
		   ,Q.Q_STATUS
		   ,Q.Q_VIEW_CHECK
		   ,Q.Q_IMG1
		   ,Q.Q_IMG1_RENAME
		   ,Q.Q_IMG2
		   ,Q.Q_IMG2_RENAME
		   ,M.MID
		FROM QNA Q
			INNER JOIN MEMBER M
			ON(M.MNO = Q.Q_MNO)
		WHERE Q_No=#{q_No}
		AND Q.Q_STATUS='Y'
	</select>
	
	<update id="deleteQnA" parameterType="_int">
		UPDATE QNA
		SET Q_STATUS='N'
		WHERE Q_NO=#{qr_No}
	</update>
	
	<update id="updateQnA" parameterType="QnA">
		UPDATE QNA
		SET Q_WRITER=#{q_Writer}, Q_TITLE=#{q_Title}, Q_CONTENT=#{q_Content},
			q_Modify_ID=#{q_Modify_ID}, q_Modify_Date=SYSDATE, Q_KINDS=#{q_Kind},
			Q_IMG1=#{q_Img1}, Q_IMG1_RENAME=#{q_Img1_ReName}, Q_IMG2=#{q_Img2}, Q_IMG2_RENAME=#{q_Img2_ReName}
		WHERE Q_NO=#{q_No}
	</update>
	
	<!-- 댓글 -->
	<insert id="insertReply" parameterType="QnA_Reply">
		INSERT INTO 
		QNA_REPLY VALUES(SEQ_QR_NO.NEXTVAL,#{qr_Comment},#{qr_Qno},DEFAULT,'Y',DEFAULT,DEFAULT,#{qr_Mname})
	</insert>
	
	<select id="selectReplyList" resultMap="qnaReplyResultSet" parameterType="_int">
		SELECT *
		FROM QNA_REPLY
		WHERE QR_STATUS ='Y'
		AND QR_QNO = #{qr_Qno}
		ORDER BY QR_NO DESC
	</select>
	
	<update id="updateReply" >
		UPDATE QNA
		SET Q_VIEW_CHECK ='Y'
		WHERE Q_NO=#{q_No}
	</update>

<!-- 검색 -->
	<select id="getSearchResultListCount" resultType="_int">
		SELECT COUNT(*)
		FROM QNA
		WHERE Q_STATUS='Y'
		
		<if test="writer != null">
			AND Q_WRITER LIKE '%' || #{writer} || '%'
		</if>
		<if test="title != null">
			AND Q_TITLE LIKE '%' || #{title} || '%'
		</if>
		<if test="content != null">
			AND Q_CONTENT LIKE '%' || #{content} || '%'
		</if>
	</select>
	
	<select id="selectSearchResultList" resultMap="qnaResultSet">	
		SELECT *
		FROM QNA
		WHERE Q_STATUS='Y'
	
		<choose>
			<when test="writer != null">
				AND Q_WRITER LIKE '%' || #{writer} ||'%'
			</when>
			<when test="title != null">
				AND Q_TITLE LIKE '%' || #{title} ||'%'
			</when>
			<otherwise>
				AND Q_CONTENT LIKE '%' || #{content} ||'%'
			</otherwise>
		</choose>
		ORDER BY Q_NO DESC
	</select>
	
	
	
	 <select id="getmyListCount" resultType="_int" >
		SELECT COUNT(*)
		FROM QNA
		WHERE Q_STATUS='Y'
	</select>
		
	<select id="myselectList" resultMap="qnaResultSet">
		SELECT * 
		FROM QNA
		WHERE Q_STATUS='Y' AND Q_WRITER=#{mName}
		ORDER BY Q_NO DESC
	</select>

</mapper>