<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	
<!-- 	참고용 MAPPER파일입니다. 본인이 사용할 파일은 반드시 새로 생성해서 사용해주세요. -->
	
	<resultMap type="Member" id="memberResultSet">
		<id property="id" column="ID"/>
		
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="gender" column="GENDER"/>
		<result property="age" column="AGE"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="mStatus" column="M_STATUS"/>
		
	</resultMap>
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
<!-- 	안호화 전
		SELECT * 
		FROM MEMBER
		WHERE ID=#{id}
		AND PWD=#{pwd}
		AND M_STATUS='Y' -->
		<!-- 암호화 후 -->
		SELECT * 
		FROM MEMBER
		WHERE ID=#{id}
		AND M_STATUS='Y'
	</select>
	
	<insert id="insertMember" parameterType="Member">
		 INSERT INTO MEMBER
    	 VALUES(SEQ_MNO.NEXTVAL,#{mId},#{pwd},#{mName},#{email},#{phone},#{address},#{gender},#{birthDay},DEFAULT,
    	 NULL,NULL,NULL,DEFAULT,DEFAULT,NULL,DEFAULT,NULL,SYSDATE,DEFAULT,DEFAULT)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET EMAIL=#{email},AGE=#{age},PHONE=#{phone},ADDRESS=#{address}
		,UPDATE_DATE=SYSDATE
		WHERE ID=#{id}
	</update>
	
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		SET M_STATUS = 'N'
		WHERE ID=#{id}
		
	</update>
	
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MID=#{id}
	</select>
	
</mapper>