<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ownerOrder-mapper">
	
	<resultMap type="Orders" id="orderResultSet">
		<id property="or_NO" column="OR_NO"/>
		
		<result property="or_Date" column="OR_DATE"/>
		<result property="or_Pname" column="OR_PNAME"/>
		<result property="or_Option1" column="OR_OPTION1"/>
		<result property="or_Option2" column="OR_OPTION2"/>
		<result property="or_Amount" column="OR_AMOUNT"/>
		<result property="or_Address" column="OR_ADDRESS"/>
		<result property="or_Message" column="OR_MESSAGE"/>
		<result property="or_Price" column="OR_PRICE"/>
		<result property="or_Status" column="OR_STATUS"/>
		<result property="or_Deliver_Num" column="OR_DELIVER_NUM"/>
		<result property="or_Deliver_Vender" column="OR_DELIVER_VENDER"/>
		<result property="or_Mno" column="OR_MNO"/>
		<result property="or_P_NO" column="OR_P_NO"/>
		<result property="or_Brand_NO" column="OR_BRAND_NO"/>
		
		<collection property="or_Member" resultMap="memberResultSet"/>
		<collection property="ordersReject" resultMap="rejectResultSet"/>
		<collection property="ordersChange" resultMap="changeResultSet"/>
		<collection property="pList" resultMap="productResultSet"/>
		
	</resultMap>
	
	<resultMap id="memberResultSet" type="Member">
		<id property="mNO" column="MNO"/>
		<result property="mId" column="MID"/>
		<result property="pwd" column="PWD"/>
		<result property="mName" column="MNAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="gender" column="GENDER"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="mGrant" column="MGRANT"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="order_Count" column="ORDER_COUNT"/>
		<result property="order_Price" column="ORDER_PRICE"/>
		<result property="report_YN" column="REPORT_YN"/>
		<result property="block_YN" column="BLOCK_YN"/>
		<result property="block_Content" column="BLOCK_CONTENT"/>
		<result property="del_Flag_YN" column="DEL_FLAG_YN"/>
		<result property="del_Date" column="DEL_DATE"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="brand" column="BRAND"/>
		<result property="brand_NO" column="BRAND_NO"/>

	</resultMap>

	<resultMap type="Statistics" id="statisticsResultSet">
		<id property="day" column="DAY"/>
		
		<result property="orderCount" column="ORDERCOUNT"/>
		<result property="orderPrice" column="ORDERPRICE"/>
		<result property="rejectCount" column="REJECTCOUNT"/>
		<result property="rejectPrice" column="REJECTPRICE"/>
		<result property="changeCount" column="CHANGECOUNT"/>
		<result property="changePrice" column="CHANGEPRICE"/>
	</resultMap>
	
	<resultMap type="Reject" id="rejectResultSet">
		<id property="re_No" column="RE_NO"/>
		
		<result property="re_Pname" column="RE_PNAME"/>
		<result property="re_Price" column="RE_PRICE"/>
		<result property="re_Reason" column="RE_REASON"/>
		<result property="re_Comment" column="RE_COMMENT"/>
		<result property="re_Date" column="RE_DATE"/>
		<result property="re_Enddate" column="RE_ENDDATE"/>
		<result property="re_Status" column="RE_STATUS"/>
		<result property="re_MN_OR_NO" column="RE_MN_OR_NO"/>
		<result property="re_Mno" column="RE_MNO"/>
		
	</resultMap>
	
	<resultMap type="Change" id="changeResultSet">
      <id property="ch_No" column="CH_NO"/>
      
      <result property="ch_Pname" column="CH_PNAME"/>
      <result property="ch_Price" column="CH_PRICE"/>
      <result property="ch_Reason" column="CH_REASON"/>
      <result property="ch_Comment" column="CH_COMMENT"/>
      <result property="ch_Date" column="CH_DATE"/>
      <result property="ch_EnDate" column="CH_ENDDATE"/>
      <result property="ch_Status" column="CH_STATUS"/>
      <result property="ch_Or_NO" column="CH_OR_NO"/>
      <result property="ch_Mno" column="CH_MNO"/>
   </resultMap>
   
   <resultMap  type="Product" id="productResultSet">
		<id property="p_NO" column="P_NO"/>
		
		<result property="p_Name" column="P_NAME"/>
		<result property="p_Price" column="P_PRICE"/>
		<result property="p_Sail_Price" column="P_SAIL_PRICE"/>
		<result property="p_Last_Price" column="P_LAST_PRICE"/>
		<result property="p_Bcategory" column="P_BCATEGORY"/>
		<result property="p_Scategory" column="P_SCATEGORY"/>
		<result property="p_Comment" column="P_COMMENT"/>
		<result property="p_Order_Count" column="P_ORDER_COUNT"/>
		<result property="p_Status" column="P_STATUS"/>
		<result property="p_Writer" column="P_WRITER"/>
		<result property="p_Insert_Date" column="P_INSERT_DATE"/>
		<result property="p_Modify_Id" column="P_MODIFY_ID"/>
		<result property="p_Modify_Date" column="P_MODIFY_DATE"/>
		<result property="p_Show_YN" column="P_SHOW_YN"/>
		<result property="p_Brand_NO" column="P_BRAND_NO"/>
		
		<collection property="pfList" resultMap="ProductFileResultSet"/>
	</resultMap>

<!-- 상품 이미지 등록정보 -->
	<resultMap  type="Product_File" id="ProductFileResultSet">
		<id property="pf_NO" column="PF_NO"/>
		
		<result property="pf_Img1" column="PF_IMG1"/>
		<result property="pf_Img1_ReName" column="PF_IMG1_RENAME"/>
		<result property="pf_Img2" column="PF_IMG2"/>
		<result property="pf_Img2_ReName" column="PF_IMG2_RENAME"/>
		<result property="pf_Img3" column="PF_IMG3"/>
		<result property="pf_Img3_ReName" column="PF_IMG3_RENAME"/>
		<result property="pf_Img4" column="PF_IMG4"/>		
		<result property="pf_Img4_ReName" column="PF_IMG4_RENAME"/>
		<result property="pf_Img5" column="PF_IMG5"/>
		<result property="pf_Img5_ReName" column="PF_IMG5_RENAME"/>
		<result property="pf_Img6" column="PF_IMG6"/>
		<result property="pf_Img6_ReName" column="PF_IMG6_RENAME"/>
		<result property="pf_Dimg1" column="PF_DIMG1"/>
		<result property="pf_Dimg1_ReName" column="PF_DIMG1_RENAME"/>
		<result property="pf_Dimg2" column="PF_DIMG2"/>			
		<result property="pf_Dimg2_ReName" column="PF_DIMG2_RENAME"/>
		<result property="pf_Dimg3" column="PF_DIMG3"/>	
		<result property="pf_Dimg3_ReName" column="PF_DIMG3_RENAME"/>
		<result property="pf_P_NO" column="PF_P_NO"/>	
		
	</resultMap>
	
<!-- ===================================================================	 -->
	
	<select id="selectIncomeDay" resultMap="statisticsResultSet">
		SELECT TO_CHAR(OR_DATE,'YYYY-MM-DD') as DAY
		    , NVL(COUNT(CASE WHEN OR_BRAND_NO=#{bNO} THEN 1 END),0) as ORDERCOUNT
		    , NVL(SUM(CASE WHEN OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) ORDERPRICE
		    , NVL(COUNT(CASE WHEN OR_STATUS= '6' AND OR_BRAND_NO=#{bNO} THEN 1 END),0 ) REJECTCOUNT
		    , NVL(SUM(CASE WHEN OR_STATUS = '6' AND OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) REJECTPRICE
		    , NVL(COUNT(CASE WHEN OR_STATUS= '7' AND OR_BRAND_NO=#{bNO} THEN 1 END),0) CHANGECOUNT
		    , NVL(SUM(CASE WHEN OR_STATUS = '7' AND OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) CHANGEPRICE
		FROM ORDERS
		GROUP BY TO_CHAR(OR_DATE,'YYYY-MM-DD')
		ORDER BY TO_CHAR(OR_DATE,'YYYY-MM-DD') ASC
	</select>
	
	<select id="selectIncomeMonth" resultMap="statisticsResultSet">
		SELECT TO_CHAR(OR_DATE,'YYYY-MM') as DAY
		    , NVL(COUNT(CASE WHEN OR_BRAND_NO=#{bNO} THEN 1 END),0) as ORDERCOUNT
		    , NVL(SUM(CASE WHEN OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) ORDERPRICE
		    , NVL(COUNT(CASE WHEN OR_STATUS= '6' AND OR_BRAND_NO=#{bNO} THEN 1 END),0 ) REJECTCOUNT
		    , NVL(SUM(CASE WHEN OR_STATUS = '6' AND OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) REJECTPRICE
		    , NVL(COUNT(CASE WHEN OR_STATUS= '7' AND OR_BRAND_NO=#{bNO} THEN 1 END),0) CHANGECOUNT
		    , NVL(SUM(CASE WHEN OR_STATUS = '7' AND OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) CHANGEPRICE
		FROM ORDERS
		GROUP BY TO_CHAR(OR_DATE,'YYYY-MM')
		ORDER BY TO_CHAR(OR_DATE,'YYYY-MM') ASC
	</select>

	<select id="selectIncomeYear" resultMap="statisticsResultSet">
		SELECT TO_CHAR(OR_DATE,'YYYY') as DAY
		    , NVL(COUNT(CASE WHEN OR_BRAND_NO=#{bNO} THEN 1 END),0) as ORDERCOUNT
		    , NVL(SUM(CASE WHEN OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) ORDERPRICE
		    , NVL(COUNT(CASE WHEN OR_STATUS= '6' AND OR_BRAND_NO=#{bNO} THEN 1 END),0 ) REJECTCOUNT
		    , NVL(SUM(CASE WHEN OR_STATUS = '6' AND OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) REJECTPRICE
		    , NVL(COUNT(CASE WHEN OR_STATUS= '7' AND OR_BRAND_NO=#{bNO} THEN 1 END),0) CHANGECOUNT
		    , NVL(SUM(CASE WHEN OR_STATUS = '7' AND OR_BRAND_NO=#{bNO} THEN OR_PRICE END),0) CHANGEPRICE
		FROM ORDERS
		GROUP BY TO_CHAR(OR_DATE,'YYYY')
		ORDER BY TO_CHAR(OR_DATE,'YYYY') ASC
	</select>
	
	<select id="selectOrderProgress" resultMap="orderResultSet">
		SELECT *
		FROM ORDERS OD
		JOIN MEMBER M
		ON OD.OR_MNO = M.MNO
		WHERE OR_BRAND_NO = #{bNO}
		AND OR_STATUS != 5
		AND OR_STATUS != 6
		AND OR_STATUS != 7
		ORDER BY OR_DATE DESC
	</select>

	<select id="selectOrderComplete" resultMap="orderResultSet">
		SELECT *
		FROM ORDERS OD
		JOIN MEMBER M
		ON OD.OR_MNO = M.MNO
		WHERE OR_BRAND_NO = #{bNO}
		AND OR_STATUS = 5
		ORDER BY OR_DATE DESC
	</select>

	<select id="selectOrderReturn" resultMap="orderResultSet">
		SELECT *
		FROM ORDERS OD
		JOIN MEMBER M
		ON OD.OR_MNO = M.MNO
		WHERE OR_BRAND_NO = #{bNO}
		AND OR_STATUS = 6
		ORDER BY OR_DATE DESC
	</select>
	
	<select id="selectOrderChange" resultMap="orderResultSet">
		SELECT *
		FROM ORDERS OD
		JOIN MEMBER M
		ON OD.OR_MNO = M.MNO
		WHERE OR_BRAND_NO = #{bNO}
		AND OR_STATUS = 7
		ORDER BY OR_DATE DESC
	</select>
	
	<select id="selectOrderReject" resultMap="orderResultSet">
		SELECT * 
		FROM ORDERS OD
		JOIN MEMBER M
		ON OD.OR_MNO = M.MNO
		JOIN REJECT RJ
		ON OD.OR_NO = RJ.RE_MN_OR_NO
		WHERE OR_BRAND_NO = #{bNO}
		ORDER BY OR_DATE DESC
	</select>
	
	<select id="selectOrderExChange" resultMap="orderResultSet">
		SELECT * 
		FROM ORDERS OD
		JOIN MEMBER M
		ON OD.OR_MNO = M.MNO
		JOIN CHANGE CH
		ON OD.OR_NO = CH.CH_OR_NO
		WHERE OR_BRAND_NO = #{bNO}
		ORDER BY OR_DATE DESC
	</select>
	
	<select id="selectOrderDetail" resultMap="orderResultSet">
		SELECT *
		FROM ORDERS OD
		JOIN PRODUCT P 
		ON OD.OR_P_NO = P.P_NO
		JOIN PRODUCT_FILE PF
		ON P.P_NO = PF.PF_P_NO
		JOIN MEMBER M
		ON OD.OR_MNO = M.MNO
		LEFT JOIN REJECT RJ
		ON OD.OR_NO = RJ.RE_MN_OR_NO
		LEFT JOIN CHANGE CG
		ON OD.OR_NO = CG.CH_OR_NO
		WHERE OD.OR_NO = #{oNO}
	
	</select>



	
</mapper>